@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveGradient {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.animate-loading {
  animation: moveGradient 5s linear infinite;
}

